<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.CinemaMapper">

    <select id="queryPage" resultType="com.project.platform.entity.Cinema">
        SELECT c.*
        FROM cinema c
        <include refid="queryConditions"/>
        ORDER BY c.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="queryCount" resultType="int">
        SELECT count(c.id) FROM cinema c
        <include refid="queryConditions"/>
    </select>

    <!-- 根据ID查询 -->
    <select id="selectByPrimaryKey" resultType="com.project.platform.entity.Cinema">
        SELECT * FROM cinema WHERE id = #{id}
    </select>

    <sql id="queryConditions">
        <where>
            <if test="query.name != null and query.name.trim() != ''">
                AND c.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.status != null and query.status.trim() != ''">
                AND c.status = #{query.status}
            </if>
        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.Cinema" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cinema
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="address != null">address,</if>
            <if test="tel != null">tel,</if>
            <if test="email != null">email,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="status != null">status,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="address != null">#{address},</if>
            <if test="tel != null">#{tel},</if>
            <if test="email != null">#{email},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.Cinema">
        UPDATE cinema
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="email != null">email = #{email},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="removeById">
        DELETE FROM cinema WHERE id = #{id}
    </delete>

</mapper>
